<div class="crm-product">
    <div class="crm-product-filter">
        <div class="item" (click)="category.choosen = !category.choosen; useFilter()" [class.choosen]="category.choosen" *ngFor="let category of categories">
            <div class="item-flex">
                {{category.name}}
            </div>
        </div>
    </div>
    <div class='crm-product-body'>
        <ngx-spinner [name]="'product-main'" bdColor="transparent" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
        <div nz-row style="width: 90%; margin: auto">
            <div nz-col class="mb-3" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6" *ngFor="let product of filterProducts">
                <app-product-item (useSelected)="useSelectItem($event.id)" [search]="search" [product]="product"></app-product-item>
            </div>
        </div>
    </div>
</div>