<div class="product-detail">
    <div class="product-detail-main">
        <div class="product-detail-information">
            <div class="image">
                <img *ngIf="product?.image" [src]="product?.image" />
                <b *ngIf="!product?.image">No Image</b>
            </div>
            <div class="detail">
                <span class="item">
                  <h5 class="w-100 text-center">{{product?.name}}{{product?.name}}</h5>
              </span>
                <button (click)="useContact(goToLoginRef, contactRef)" nbButton status="warning" class="mt-2 mr-2" size="small" shape="round" outline>
                <nb-icon icon="question-mark-circle-outline" nbPrefix></nb-icon>
                <b>Support</b>
              </button>
                <button (click)="usePhone();" nbButton status="success" class="mt-2" size="small" shape="round" outline>
                <nb-icon icon="phone-outline" nbPrefix></nb-icon>
                <b>Contact</b>
              </button>
            </div>
        </div>
        <div class="product-detail-content">
            <div nz-row class="product-detail-content-rating">
                <div class="total justify-content-center align-items-center mb-3" style="display: flex !important;" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" [nzXl]="4" [nzXXl]="4">
                    <nz-progress [nzPercent]="totalRating * 100 / 5" [nzFormat]="formatRating" nzType="circle"></nz-progress>
                </div>
                <div class="ratings" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="18" [nzXl]="20" [nzXXl]="20">
                    <div class="rating">
                        <div class="rating-left">
                            5
                            <nb-icon status="warning" icon="star"></nb-icon>
                        </div>
                        <div class="rating-middle">
                            <nb-progress-bar size="giant" [displayValue]="true" [value]="fiveStart.percent" status="success"></nb-progress-bar>
                        </div>
                        <div class="rating-right">
                            {{fiveStart.quantity}}
                            <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="rating-left">
                            4
                            <nb-icon status="warning" icon="star"></nb-icon>
                        </div>
                        <div class="rating-middle">
                            <nb-progress-bar size="giant" [displayValue]="true" [value]="fourStart.percent" status="success"></nb-progress-bar>
                        </div>
                        <div class="rating-right">
                            {{fourStart.quantity}}
                            <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="rating-left">
                            3
                            <nb-icon status="warning" icon="star"></nb-icon>
                        </div>
                        <div class="rating-middle">
                            <nb-progress-bar size="giant" [displayValue]="true" [value]="threeStart.percent" status="success"></nb-progress-bar>
                        </div>
                        <div class="rating-right">
                            {{threeStart.quantity}}
                            <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="rating-left">
                            2
                            <nb-icon status="warning" icon="star"></nb-icon>
                        </div>
                        <div class="rating-middle">
                            <nb-progress-bar size="giant" [displayValue]="true" [value]="twoStart.percent" status="success"></nb-progress-bar>
                        </div>
                        <div class="rating-right">
                            {{twoStart.quantity}}
                            <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="rating-left">
                            1
                            <nb-icon status="warning" icon="star"></nb-icon>
                        </div>
                        <div class="rating-middle">
                            <nb-progress-bar size="giant" [displayValue]="true" [value]="oneStart.percent" status="success"></nb-progress-bar>
                        </div>
                        <div class="rating-right">
                            {{oneStart.quantity}}
                            <nb-icon status="primary" icon="message-square-outline" class="ml-1"></nb-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-detail-content-send">
                <h5>New Comment</h5>
                <bar-rating [(ngModel)]="rate" [max]="5" [theme]="'stars'"></bar-rating>
                <textarea rows="6" [(ngModel)]="message" placeholder="Tell us about your feel" nbInput fullWidth outline status="primary"></textarea>
                <div class="send-button">
                    <button (click)="useSendFeedback(goToLoginRef)" nbButton status="primary" outline size="small" style="float: right"><nb-icon icon="paper-plane-outline"></nb-icon>Send Comment</button>
                </div>
            </div>
            <div class="product-detail-content-comments">
                <div *ngFor="let comment of comments" class="comment">
                    <img *ngIf="comment.customer.avatar" [src]="comment.customer.avatar" />
                    <div *ngIf="!comment.customer.avatar" class="non-avatar">
                        {{comment.customer.fullname | key}}
                    </div>
                    <div class="content">
                        <div class="fullname">
                            {{comment.customer.fullname}} - <span>{{comment.createdAt | date: 'EEEE, MMMM d, y, h:mm a'}}</span>
                        </div>
                        <div class="text">
                            {{comment.message}}
                        </div>
                        <div class="rating">
                            <bar-rating [readOnly]="true" [(rate)]="comment.rating" [max]="5" [theme]="'stars'"></bar-rating>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flag h-20" style="float: left;"></div>
        </div>
    </div>
    <ng-template #goToLoginRef let-data let-ref="dialogRef">
        <nb-card>
            <nb-card-header>
                You not log in yet!
                <button (click)="ref.close()" style="float:right" nbButton size="tiny">
          <nb-icon icon="close"></nb-icon>
        </button>
            </nb-card-header>
            <nb-card-body>Please log in first!</nb-card-body>
            <nb-card-footer class="p-2 text-center">
                <button status="primary" nbButton size="small" (click)="ref.close(); useLogin()">
          Go to Login Page
        </button>
            </nb-card-footer>
        </nb-card>
    </ng-template>
    <ng-template #contactRef let-data let-ref="dialogRef">
        <nb-card>
            <nb-card-header>
                Support form
                <button (click)="ref.close()" style="float:right" nbButton size="tiny">
          <nb-icon icon="close"></nb-icon>
        </button>
            </nb-card-header>
            <nb-card-body>
                <nb-form-field style="width: 100%;">
                    <textarea #area placeHolder="Write something you want to support for this product (Optional) or only click send" fullWidth [(ngModel)]="description" rows="7" nbInput></textarea>
                </nb-form-field>
            </nb-card-body>
            <nb-card-footer class="p-2 text-center">
                <button status="primary" nbButton size="small" (click)="useSupport(ref)">
          Send
        </button>
            </nb-card-footer>
        </nb-card>
    </ng-template>