<a class="crm-user-circle" [nbTooltip]="customer.fullname" nz-dropdown [nzDropdownMenu]="options" [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" [nzBackdrop]="false" [nbTooltipPlacement]="'end-bottom'">
    <span *ngIf="!customer.avatar">{{ customer.fullname | fullnameShort }}</span>
    <img *ngIf="customer.avatar" [src]="customer.avatar">
</a>
<nz-dropdown-menu #options="nzDropdownMenu">
    <div nz-menu class="items">
        <a nz-menu-item class="item" (click)="useProfile()">
            <span class="icon">
              <nb-icon icon="person-outline"></nb-icon>
            </span>
            <span class="text">
                Profile
            </span>
        </a>
        <a nz-menu-item class="item" (click)="useOut()">
            <span class="icon">
              <nb-icon icon="log-out-outline"></nb-icon>
            </span>
            <span class="text">
                Log out
            </span>
        </a>
    </div>
</nz-dropdown-menu>