a.crm-notification-circle {
    position: absolute;
    right: 60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 8px;
    nb-icon {
        font-size: 27px;
        font-family: inherit;
        color: #747678;
    }
    &:hover {
        background: #e5e5e5;
    }
    .badge {
        position: absolute;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        font-size: 11px;
        background: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -5px;
        right: -5px;
    }
}

@media (max-width: 789px) {
    a.crm-notification-circle {
        background: #e5e5e5;
        right: 65px;
    }
}
