<a class="crm-notification-circle" #bell (click)="useToggleNotification()">
  <div class="badge" *ngIf="state.badge > 0">{{state.badge > 99 ? '99+' : state.badge}}</div>
  <nb-icon [class.new]="state.new" [icon]="'bell'"></nb-icon>
</a>
<nb-card (clickOutside)="useHideNotification($event, bell)" [class.show]="state.show" class="notification-list">
    <ngx-spinner [name]="'state.array'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header>
        Notifications
        <button class="float-right" nbButton size="small" status="default" shape="round" outline>
      <nb-icon icon="more-horizontal-outline"></nb-icon>
    </button>
        <button (click)="useReload()" class="float-right mr-2" nbButton size="small" status="default" shape="round" outline>
      <nb-icon icon="sync-outline"></nb-icon>
    </button>
    </nb-card-header>
    <nb-card-body>
        <div class="notification" [class.notSeen]="!notification.isSeen" (click)="useSelect(notification)" *ngFor="let notification of state.array">
            <div class="avatar">
                <img *ngIf="notification.icon" [src]="notification.icon" />
                <b *ngIf="!notification.icon">CRM</b>
            </div>
            <div class="body">
                <b>{{notification.body}}</b>
                <div class="time">
                    <b>{{notification.createdAt  | time}}</b>
                </div>
            </div>
        </div>
        <div class="empty" *ngIf="state.array.length === 0">
            <b>Empty Notifications</b>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button (click)="state.show = false" class="float-left" nbButton size="small" status="warning" shape="round" outline>
      <nb-icon icon="arrowhead-up-outline"></nb-icon>
    </button>
        <button class="float-right" (click)="useSeenAll()" nbButton size="small" status="info" shape="round" outline>
      <nb-icon icon="eye-outline"></nb-icon>
    </button>
    </nb-card-footer>
</nb-card>
<ng-template #template let-noti="data" let-notification>
    <div class="notification" (click)="notification.close(); useSelect(noti);">
        <div class="avatar">
            <img *ngIf="noti.icon" [src]="noti.icon" />
            <b *ngIf="!noti.icon">CRM</b>
        </div>
        <div class="body">
            <b>{{noti.body}}</b>
            <div class="time">
                <b>{{noti.createdAt | time}}</b>
            </div>
        </div>
    </div>
</ng-template>
