nb-card {
    width: 500px;
    margin-top: 29px;
    nb-card-body {
        max-height: calc(100vh - 238px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 500px) {
    nb-card {
        width: 95vw;
    }
}
