<nb-card style="position: relative;">
    <ngx-spinner [name]="'setting-password'" bdColor="#e5e5e5" [style.opacity]="'0.8'" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
    <nb-card-header style="background: #f7f7f7; border-bottom: 1px solid #e5e5e5; text-transform: capitalize;">
        Change Password
        <button (click)="useClose.emit()" style="float:right" nbButton size="tiny">
<nb-icon icon="close"></nb-icon>
</button>
    </nb-card-header>
    <nb-card-body [formGroup]="form">
        <span style="display: block; margin-bottom: 0.5rem; text-transform: capitalize; font-weight: 600;" [class.text-danger]="form.get('password').invalid && (form.get('password').touched || form.get('password').dirty)">New Password <span class="text-danger">*</span></span>
        <nb-form-field style="width: 100%; margin-bottom: 1rem;">
            <nb-icon nbPrefix icon="lock-outline"></nb-icon>
            <input style="height: 3rem;" type="password" [status]="form.get('password').invalid && (form.get('password').touched || form.get('password').dirty) ? 'danger' : 'basic'" fullWidth nz-dropdown [placeholder]="'New Password'" shape="rectangle" [formControl]="form.get('password')"
                nbInput size="large" />
        </nb-form-field>
        <span style="display: block; margin-bottom: 0.5rem; text-transform: capitalize; font-weight: 600;" [class.text-danger]="form.get('retype').invalid && (form.get('retype').touched || form.get('retype').dirty)">Retype password <span class="text-danger">*</span></span>
        <nb-form-field style="width: 100%; margin-bottom: 1rem;">
            <nb-icon nbPrefix icon="lock-outline"></nb-icon>
            <input style="height: 3rem;" type="password" [status]="form.get('retype').invalid && (form.get('retype').touched || form.get('retype').dirty) ? 'danger' : 'basic'" fullWidth nz-dropdown [placeholder]="'Retype password'" shape="rectangle" [formControl]="form.get('retype')"
                nbInput size="large" />
        </nb-form-field>
    </nb-card-body>
    <nb-card-footer>
        <button style="float: right;" status="default" nbButton size="small" (click)="useDialog(cancelRef)">Cancel</button>
        <button style="float: right; margin-right: 0.5rem;" [disabled]="form.invalid" status="primary" (click)="useDialog(submitRef)" nbButton size="small">Save</button>
    </nb-card-footer>
</nb-card>
<ng-template #submitRef let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Saved changes
        </nb-card-header>
        <nb-card-body>Are you sure you wish to save and hide modal?</nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right;" status="primary" nbButton size="small" (click)="useSubmit(ref)">Save and hide</button>
            <button style="float: right; margin-right: 0.5rem;" status="default" nbButton size="small" (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<ng-template #cancelRef let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>You have unsaved changes
        </nb-card-header>
        <nb-card-body>Are you sure you wish to hide modal?</nb-card-body>
        <nb-card-footer class="p-2">
            <button style="float: right;" status="default" nbButton size="small" (click)="ref.close(); useClose.emit();">Hide modal</button>
            <button style="float: right; margin-right: 0.5rem;" status="default" nbButton size="small" (click)="ref.close()">Continue editing</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
