<nb-layout>
    <nb-layout-column style="padding: 0;">
        <div class="over-lay">
            <div class="main-login">
                <div class="form-login" [class.notExist]="notExist" [nbSpinner]="load" nbSpinnerStatus="primary">
                    <div style="position: absolute; top: 1rem; left: 0; text-align: center; width: 100%; height: 4rem;">
                        <button outline nbButton size="small" (click)="useBackHome()" shape="round" status="success">
                        <nb-icon icon="home-outline"></nb-icon> Home Page
                    </button>
                    </div>
                    <div *ngIf="!isConfirm" class="form" [formGroup]="form">
                        <span class="title"><span style="border-top: 5px solid #17a2b8;">Welcome</span> to support app</span>
                        <nb-form-field style="position: relative; width: 6rem; float: left;" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'" [nzTrigger]="'click'" [nzBackdrop]="false">
                            <nb-icon nbPrefix icon="phone-outline" pack="eva"></nb-icon>
                            <input [value]="dialCode" readonly style="border-radius: 1.5rem 0 0 1.5rem; border-right: none !important; text-align: center;" type="text" nbInput fullWidth fieldSize="large" shape="round" [status]="getStatus('phone')" />
                        </nb-form-field>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu style="max-height: 10rem; overflow-y: auto; overflow-x: hidden;">
                                <li nz-menu-item class="p-2" [class.text-white]="phone.dial_code === dialCode" [class.bg-success]="phone.dial_code === dialCode" (click)="dialCode = phone.dial_code" *ngFor="let phone of country_phone">
                                    <b>{{phone.dial_code + ' - ' + phone.name}}</b>
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                        <nb-form-field style="position: relative; width: calc(100% - 6rem); float: left;">
                            <input style="border-radius: 0 1.5rem 1.5rem 0;" type="text" nbInput fullWidth fieldSize="large" shape="round" [status]="getStatus('phone')" (keyup)="useEnter($event)" formControlName="phone" placeholder="Fill your phone number" />
                            <span [class.error]="getStatus('phone') === 'danger'" style="left: -4.5rem;">Please fill your correct phone number</span>
                        </nb-form-field>
                        <button id="sign-in-button" (click)="useSubmit()" [disabled]="form.invalid" nbButton fullWidth status="primary" shape="round" size="large">Login</button>
                        <span class="text-center terms">Terms of use. Privacy policy</span>
                    </div>
                    <div *ngIf="isConfirm && !notExist" class="form" [formGroup]="formConfirm">
                        <span class="title"><span style="border-top: 5px solid #17a2b8;">Welcome</span> to support app</span>
                        <nb-form-field style="position: relative;">
                            <nb-icon nbPrefix icon="code-outline" pack="eva"></nb-icon>
                            <input type="text" nbInput fullWidth (keyup)="useEnter($event)" fieldSize="large" shape="round" [status]="getStatus('code')" formControlName="code" placeholder="Fill 6 numbers of code" />
                            <span [class.error]="getStatus('code') === 'danger'">Please fill 6 numbers of the code</span>
                        </nb-form-field>
                        <button id="sign-in-button" (click)="useVerify()" [disabled]="formConfirm.invalid" nbButton fullWidth status="primary" shape="round" size="large">Confirm</button>
                        <span class="text-center terms">Terms of use. Privacy policy</span>
                    </div>
                    <div *ngIf="isConfirm && notExist" class="form" [formGroup]="formRegister">
                        <span class="title"><span style="border-top: 5px solid #17a2b8;">Welcome</span> to support app</span>
                        <nb-form-field style="position: relative;">
                            <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
                            <input type="text" nbInput fullWidth (keyup)="useEnter($event)" fieldSize="large" shape="round" [status]="getStatus('fullname')" formControlName="fullname" placeholder="Fill your fullname" />
                            <span [class.error]="getStatus('fullname') === 'danger'">Please fill your fullname</span>
                        </nb-form-field>
                        <nb-form-field style="position: relative;">
                            <nb-icon nbPrefix icon="email-outline" pack="eva"></nb-icon>
                            <input type="text" nbInput fullWidth (keyup)="useEnter($event)" fieldSize="large" shape="round" [status]="getStatus('email')" formControlName="email" placeholder="Fill your email" />
                            <span [class.error]="getStatus('email') === 'danger'">Please fill your correct email</span>
                        </nb-form-field>
                        <button id="sign-in-button" (click)="useRegister()" [disabled]="formRegister.invalid" nbButton fullWidth status="primary" shape="round" size="large">LOGIN</button>
                        <span class="text-center terms">Terms of use. Privacy policy</span>
                    </div>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>