<div class="crm-event">
    <div class='crm-event-body'>
        <ngx-spinner [name]="'event-main'" bdColor="transparent" [zIndex]="999" size="medium" color="#3de2ab" type="ball-clip-rotate-multiple" [fullScreen]="false"></ngx-spinner>
        <div nz-row class="w-100">
            <div nz-col class="border-radius-10 p-3 mb-3" [nzMd]="24" [nzLg]="12" *ngFor="let event of events">
                <app-event-item [search]="search" [event]="event"></app-event-item>
            </div>
        </div>
    </div>
</div>
