.crm-event {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    .crm-event-body {
        margin: 0 0 5rem 0;
        width: 100%;
        height: fit-content;
        min-height: 100%;
        float: left;
        width: 100%;
        position: relative;
    }
}
